<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2> <%= t 'general.form_error'%> </h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %> 
    <%= f.text_field :name %>
    <%= error_tag @client, :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
    <%= error_tag @client, :phone_number %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= error_tag @client, :email %>
  </div>
  <div class="field">
    <%= f.label :birthday %>
    <%= f.text_field :birthday %>
    <%= error_tag @client, :birthday %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
