<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2> <%= t 'general.form_error'%> </h2>
    </div>
  <% end %>

      
      
      <div class="span6">
        <%= f.label :name %>
        <%= f.text_field :name, class: "input-block-level" %>
      </div>
    <%= error_tag @client, :name %>
  

  <div class="span6">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: "input-block-level" %>
    <%= error_tag @client, :phone_number %>
  </div>

  <div class="span6">
    <%= f.label :email %>
    <%= f.text_field :email, class: "input-block-level" %>
    <%= error_tag @client, :email %>
  </div>

  <div class="span6">
    <%= f.label :birthday %>
    <%= f.text_field :birthday, class: "input-block-level" %>
    <%= error_tag @client, :birthday %>
  </div>

  <div class="span6">
    <%= f.submit "Salvar", class: "btn btn-default btn-block"%>
  </div>

<% end %>
