<legend> <%= t 'clients.index.title' %> </legend>

<table class="table table-hover">
  <th> <%= t('clients.index.name') %></th>
  <th><%= t('clients.index.email') %></th>
  <th><%= t('clients.index.phone_number') %></th>
  <th><%= t('clients.index.birthday') %></th>
  <th></th>
  <th></th>

<%= render partial: "client", collection: @clients %>
  
</table>

<br>

<%= link_to t('clients.new.link'), new_client_path , class: "btn"%>
